# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Database files
# 自動でcsvをとってこようとしたが、自動ボット拒否される機構があったため、素直にdbをGitに持つことにした
# *.db 
*.sqlite3

# Streamlit
.streamlit/